<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>{% block title %}rpad{% endblock title %}</title>
	<link rel="stylesheet" href="/static/css/font-awesome.css">
	<link rel="stylesheet" href="/static/css/style.css">

	{% block head %}{% endblock head %}
</head>

<body>
	<div id="container">
		<div id="sidebar">
			<div class="sidebar-title">rpad.</div>
			<div class="buttons">
				<ul>
					<a href='/new_pad'><li class="fa fa-pencil"></li></a>
					<li class="fa fa-cloud-upload"></li>
					<li class="fa fa-info-circle"></li>
					<a href='/settings'><li class="fa fa-gear"></li></a>
				</ul>
			</div>
			{% for pad in pads %}
			{% if current_pad and pad.id == current_pad.id %}
			<a href="/pad/{{pad.id}}"><div class="sidebar-item-selected">{{pad.name}}</div></a>
			{% else %}
			<a href="/pad/{{pad.id}}"><div class="sidebar-item">{{pad.name}}</div></a>
			{% endif %}
			{% endfor %}
		</div>

		<div id="content">
			{% block content %}{% endblock %}
		</div>
	</div>
	<div id="footer">
	</div>
</body>