{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="/static/js/rpad.js"></script>
{% endblock head %}

{% block title %}
rpad - {{current_pad.name}}
{% endblock title %}

{% block content %}
<div id='toolbar'>
	<div class='row'>
		<a href="#" title="Toggle R process"><span class="fa fa-power-off"></span></a>
		<div contenteditable="true" id='page-title'>{{current_pad.name}}</div>
	</div>
	<div class='row'>
		<span id='btn_save' onclick="button_clicked(this)" title="Save" class="fa fa-floppy-o"></span>
		<span title="Export" class="fa fa-cloud-download"></span>
		<div class='divider'></div>
		<span id='btn_code' onclick='button_clicked(this)' title="Insert Code" class="fa fa-code"></span>
		<span title="Insert image" class="fa fa-image"></span>
		<div class='divider'></div>
		<span title="Print" class="fa fa-print"></span>
		<span title="Download PDF" class="fa fa-file-pdf-o"></span>
	</div>
</div>
<div id='page'></div>
{% endblock content %}